<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Countdown timer</title>
    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>

    <script>

        /***Event Listener on Button**/
        $(document).ready(function () {
            let timeOfRest = [[${restTimeBetweenSets}]]
            countdownTimer(timeOfRest)

        })

        function countdownTimer(minutes) {

            document.getElementById('form2').style.display = "none";

            function minTwoDigits(n) {
                return (n < 10 ? '0' : '') + n;
            }

            // let interval = 60 * minutes;  //5 minutes = 300 sec
            let interval = 5;  //5 minutes = 300 sec
            let counter = setInterval(function () {
                let hours = Math.floor((interval % (60 * 60 * 24)) / (60 * 60));
                let minutes = Math.floor((interval % (60 * 60)) / (60));
                let seconds = Math.floor(interval % 60);

                interval--;

                document.getElementById("timer").innerHTML = minTwoDigits(hours) + " : " + minTwoDigits(minutes) + " : " + minTwoDigits(seconds);



                if (interval === 0) {
                    clearInterval(counter);
                    $('#timer').hide()
                    document.getElementById('form2').submit();
                }
            }, 1000)
        }
    </script>
</head>

<body>

<!-- Static navbar -->

<div th:insert="~{navbar::#navbar}"></div>

<!-- +++++ Contact Section +++++ -->

<div class="container pt">
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3 th:text="#{workout.resttime}">Rest time</h3>
            <hr>
        </div>
    </div>
    <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2">

            <div id="timer"></div>

            <form id="form2" name="form2" th:action="@{/workout-constructor/save-result-of-set}" method="post">

                <input type="number" hidden th:value="${resultOfSet}" name="set"/>
            </form>

        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<!-- +++++ Footer Section +++++ -->

<div th:insert="~{footer::#footer}"></div>
<div th:insert="~{footer::#copyrights}"></div>




    <!-- JavaScript Libraries -->

    <!--<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>-->
    <!--<script th:src="@{/lib/php-mail-form/validate.js}"></script>-->
    <!--<script th:src="@{/lib/easing/easing.min.js}"></script>-->

    <!--&lt;!&ndash; Template Main Javascript File &ndash;&gt;-->

    <!--<script th:src="@{/js/main.js}"></script>-->

</body>
</html>
