<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Countdown timer</title>
    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script>
        $(document).ready(function () {
            let timeOfRest = [[${restTimeBetweenSets}]]
            countdownTimer(timeOfRest)

        })
    </script>
</head>

<body>

<!-- Static navbar -->

<div th:insert="~{navbar::#navbar}"></div>

<!-- +++++ Contact Section +++++ -->

<div class="container pt">
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3 th:text="#{workout.resttime}">Rest time</h3>
            <hr>
        </div>
    </div>
    <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2">

            <div id="timer"></div>

            <form id="form2" name="form2" th:action="@{/workout-constructor/save-result-of-set}" method="post">

                <input type="number" hidden th:value="${resultOfSet}" name="set"/>
            </form>

        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<!-- +++++ Footer Section +++++ -->
<div th:insert="~{footer::#footer}"></div>
<div th:insert="~{footer::#copyrights}"></div>


    <!-- JavaScript Libraries -->
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Template Main Javascript File -->
    <script th:src="@{/js/main.js}"></script>

</body>
</html>
