<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:if="${newExercise.id!=0}?'Add exercise':'Update exercise'">Create/Update exercise</title>
    <script>
        function validateForm() {
            let name = document.forms["form"]["name"].value;
            let numberOfSet = document.forms["form"]["numberOfSet"].value;
            let restTimeBetweenSets = document.forms["form"]["restTimeBetweenSets"].value;

            if (name === "") {
                alert("You must choose an exercise");
                return false;
            }

        }
    </script>
</head>
<body>
<form name="form" th:action="@{/workout-constructor/add-or-update-exercise-in-workout}" onsubmit="return validateForm()" th:object="${newExercise}"
      method="post">


    <p><label for="name">Exercise: </label>
        <select th:if="*{getNumberOfSets()==0}" th:field="*{id}" id="name">
            <option th:each="exercise : ${exercises}" th:value="${exercise.id}" th:text="${exercise.name}"></option>
        </select> <strong th:if="*{id ne null}" th:text="*{name}"></strong>
        <input th:if="*{id ne null}" type="hidden" th:field="*{id}">
    </p>
    <input th:if="*{id ne null}" type="hidden" th:field="*{name}">
    <input th:if="*{id ne null}" type="hidden" th:field="*{muscleGroup}">
    <input th:if="*{id ne null}" type="hidden" th:field="*{exerciseType}">
    <input th:if="*{id ne null}" type="hidden" th:field="*{necessaryEquipment}">
    <input th:if="*{id ne null}" type="hidden" th:field="*{description}">
    <input th:if="*{id ne null}" type="hidden" th:field="*{userID}">
    <input th:if="*{id ne null}" type="hidden" th:field="*{workouts}">

    <p><label for="numberOfSet">Number of sets: </label>
        <input id="numberOfSet" min="1"step="1" type="number" th:field="*{numberOfSets}"></p>
    <p><label for="restTimeBetweenSets">Rest time between sets: </label>
        <input id="restTimeBetweenSets" min="1"step="1" type="number" th:field="*{restTimeBetweenSets}"></p>
    <p><label for="type">Type exercise: </label>
        <select id="type" th:field="*{forAWhile}">
            <option  th:value="'true'">For a while</option>
            <option  th:value="'false'">For repetitions</option>
        </select></p>

    <p>
        <button type="submit" th:text="${newExercise.name eq null}?'Add':'Update'">Add/Update</button>
    </p>
    <p><a th:href="@{/workout-constructor/create-new-workout}">Back</a></p>
</form>
</body>
</html>