<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:if="${exercise.name eq null}?'Create exercise':'Update exercise'">Create/Update exercise</title>
</head>
<body>
<form th:action="@{/exercise-editor/create-update}" th:object="${exercise}"
      method="post">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{userID}"/>
    <input type="hidden" th:field="*{workouts}"/>
    <p><label for="name">Exercise name: </label>
        <input type="text" id="name" th:field="*{name}"></p>
    <p><label for="muscleGroup">Muscle group: </label>
        <select id="muscleGroup" name="muscleGroup" th:field="*{muscleGroup}">
            <option value="" selected="selected">...</option>
            <option th:each="muscleGroupOpt : ${T(by.zadziarnouski.workoutlog.model.MuscleGroup).values()}"
                    th:value="${muscleGroupOpt}" th:text="${muscleGroupOpt.displayValue}"></option>
        </select></p>
    <p><label for="exerciseType">Exercise type: </label>
        <select id="exerciseType" name="exerciseType" th:field="*{exerciseType}">
            <option value="" selected="selected">...</option>
            <option th:each="exerciseTypeOpt : ${T(by.zadziarnouski.workoutlog.model.ExerciseType).values()}"
                    th:value="${exerciseTypeOpt}" th:text="${exerciseTypeOpt.displayValue}"></option>
        </select></p>
    <p><label for="necessaryEquipment">Necessary equipment: </label>
        <select id="necessaryEquipment" name="necessaryEquipment" th:field="*{necessaryEquipment}">
            <option value="" selected="selected">...</option>
            <option th:each="necessaryEquipmentOpt : ${T(by.zadziarnouski.workoutlog.model.NecessaryEquipment).values()}"
                    th:value="${necessaryEquipmentOpt}" th:text="${necessaryEquipmentOpt.displayValue}"></option>
        </select></p>
    <p><label for="description">Description: </label>
        <textarea id="description" th:field="*{description}" rows="3"></textarea></p>
    <p>
        <button type="submit" th:text="${exercise.name eq null}?'Create':'Update'">Create/Update</button>
    </p>
    <p><a href="/exercise-editor">Back</a></p>
</form>
</body>
</html>