<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create workout</title>
</head>
<body>
<h1>Create workout</h1>
<p th:if="${workout.exercises.isEmpty()}">This workout does not contain any added exercises yet.</p>
<div th:if="${workout ne null}"  th:object="${workout}">
<div th:if="${!workout.exercises.isEmpty()}">
    <table >
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Number of sets</th>
            <th>Rest time between sets</th>
            <th>Type of exercise</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="exercise,stat : *{exercises}">
            <td th:text="${workout.exercises.indexOf(exercise)+1}"></td>
            <td th:text="${exercise.name}"></td>
            <td th:text="${exercise.numberOfSets}"></td>
            <td th:text="${exercise.restTimeBetweenSets}"></td>
            <td th:text="${exercise.isForAWhile()==true} ? 'for a while' : 'for repetitions' "></td>
            <td><a href="/workout-designer"
                   th:href="@{/workout-constructor/update/{id}(id=${exercise.id})}">Update</a></td>
            <td><a th:href="@{/workout-constructor/delete/{id}(id=${exercise.id})}">Delete</a></td>

        </tr>
    </table>

<!--    <p>-->
<!--        <button type="submit">Start training</button>-->
<!--    </p>-->
</div>
    <p th:if="${workout.exercises.size()>0}"><a th:href="@{/workout-constructor/start-training/{id}(id =${workout.id})}">Start training</a> </p>
</div>
<p><a href="/workout-constructor/getFormForAddOrUpdateExercise">Add exercise</a> </p>
<p><a href="/workout-constructor">Back</a></p>
</body>
</html>