<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:if="${user.username==null}?'Create user':'Update user'">Create/Update user</title>
    <script>
        function validateForm() {
            let username = document.forms["form"]["username"].value;
            let firstname = document.forms["form"]["firstname"].value;
            let lastname = document.forms["form"]["lastname"].value;


            if (username === "" || firstname === "" || lastname === "") {
                alert("All fields must be filled out");
                return false;
            }

        }
    </script>
</head>
<body>
<form name="form" onsubmit="return validateForm()" th:action="@{/user-log/create-update}" th:object="${user}"
      method="post">
    <p><input type="hidden" th:field="*{id}"></p>
    <p><label for="username">Username: </label>
        <input type="text" pattern="[a-zA-Z]+" id="username" th:field="*{username}"></p>
    <p><input type="hidden" th:field="*{role}"></p>
    <p><label for="firstname">Firstname: </label>
        <input type="text" pattern="[a-zA-Z]+" id="firstname" th:field="*{firstName}"></p>
    <p><label for="lastname">Lastname: </label>
        <input type="text" pattern="[a-zA-Z]+" id="lastname" th:field="*{lastName}"></p>
    <p>
        <button type="submit" th:text="${user.username==null}?'Create':'Update'">Create/Update</button>
    </p>
    <p><a href="/user-log">Back</a></p>
</form>
</body>
</html>