<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title th:text="(${newExercise.id ne null} ? 'Update exercise' : 'Create exercise' ) + ' in workout'"></title>
    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
</head>

<body>

<!-- Static navbar -->

<div th:insert="~{navbar::#navbar}"></div>

<!-- +++++ Contact Section +++++ -->

<div class="container pt">
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3 th:text="(${newExercise.id ne null} ? #{exercise.updateexercise} : #{workout.addexercise}) + ' ' + #{workout.inworkout}"></h3>
            <hr>
        </div>
    </div>
    <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2">

            <form class="contact-form php-mail-form" name="form"
                  th:action="@{/workout-constructor/add-or-update-exercise-in-workout}"
                  onsubmit="return validateFormOfExerciseInWorkout()" th:object="${newExercise}"
                  method="post">

                <p><label for="name" th:text="#{workout.exercise}">Exercise: </label>
                    <select th:if="*{getNumberOfSets()==0}" th:field="*{id}" id="name">
                        <option th:each="exercise : ${exercises}" th:value="${exercise.id}"
                                th:text="${exercise.name}"></option>
                    </select>
                    <strong th:if="*{id ne null}" th:text="*{name}"></strong>

                    <input th:if="*{id ne null}" type="hidden" th:field="*{id}">
                </p>
                <input th:if="*{id ne null}" type="hidden" th:field="*{name}">
                <input th:if="*{id ne null}" type="hidden" th:field="*{muscleGroup}">
                <input th:if="*{id ne null}" type="hidden" th:field="*{exerciseType}">
                <input th:if="*{id ne null}" type="hidden" th:field="*{necessaryEquipment}">
                <input th:if="*{id ne null}" type="hidden" th:field="*{description}">
                <input th:if="*{id ne null}" type="hidden" th:field="*{userID}">
                <input th:if="*{id ne null}" type="hidden" th:field="*{workouts}">

                <p><label for="numberOfSet" th:text="#{workout.numberofsets}">Number of sets: </label>
                    <input id="numberOfSet" min="1" step="1" type="number" th:field="*{numberOfSets}"></p>
                <p><label for="restTimeBetweenSets" th:text="#{workout.Resttimebetweensets}">Rest time between sets: </label>
                    <input id="restTimeBetweenSets" min="1" step="1" type="number"
                           th:field="*{restTimeBetweenSets}"></p>
                <p><label for="type"th:text="#{exercise.typeofexercise}">Type of exercise: </label>
                    <input id="type" type="hidden" th:field="*{forAWhile}">
                    <strong th:text="#{workout.forrepetitions} + '*'" >For repetitions*</strong></p>
                <div class="form-send">
                    <button type="submit" th:text="${newExercise.name eq null}?#{workout.addexercise}:#{exercise.updateexercise}"
                            class="btn btn-large" >Add/Update
                    </button>
                </div>
            </form>
            <p><a th:href="@{/workout-constructor/create-new-workout}" th:text="#{workout.back}">Back</a></p>

            <p th:text="#{workout.meassage2}">* - soon with updates there will be an opportunity "for a while"</p>

        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<!-- +++++ Footer Section +++++ -->

<div th:insert="~{footer::#footer}"></div>
<div th:insert="~{footer::#copyrights}"></div>

<!-- JavaScript Libraries -->

<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>

<!-- Template Main Javascript File -->

<!--<script th:src="@{/js/main.js}"></script>-->

</body>
</html>
