<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title th:text="${measurement.weight==0.0}?'Add measurement':'Update measurement'"></title>

    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>

    <script>
        function validateForm() {
            let weight = document.forms["form"]["weight"].value;
            let height = document.forms["form"]["height"].value;
            let arms = document.forms["form"]["arms"].value;
            let forearms = document.forms["form"]["forearms"].value;
            let chest = document.forms["form"]["chest"].value;
            let waist = document.forms["form"]["waist"].value;
            let buttocks = document.forms["form"]["buttocks"].value;
            let thighs = document.forms["form"]["thighs"].value;
            let calves = document.forms["form"]["calves"].value;

            if (weight === "" || height === "" || arms === "" || forearms === "" || chest === "" || waist === "" || buttocks === "" || thighs === "" || calves === "") {
                alert("All fields must be filled out");
                return false;
            }
        }


        $(document).ready(function () {

            $("#button").click(function (event) {
                event.preventDefault();
                let form = $('#upload')[0]
                let data = new FormData(form)
                $("#button").prop("disabled", true);

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: 'http://localhost:8080/measurement-log/upload',
                    data: data,
                    processData: false,
                    contentType: false,
                    timeout: false,
                    cache: false,
                    success: function (data) {

                        $("#result").text('Photo uploaded successfully!');

                        let result = ""
                        result+='<input type="hidden" id="photo" name="photo" value="'
                        result+=data
                        result+='">'



                            // <input type="hidden" id="id" name="id" value="9">

                        document.getElementById("linkOnPhoto").innerHTML = result

                    },
                    error: function (e) {

                        $("#result").text(e.responseText);
                        console.log("ERROR : ", e);
                        $("#button").prop("disabled", false);

                    }
                });
            })
        });

        // function uploadPhoto(){
        //     $("#form2").submit(function (event) {
        //         event.preventDefault();
        //         //grab all form data
        //         let formData = $(this).serialize();
        //
        //         $.ajax({
        //             url: 'http://localhost:8080/measurement-log/upload',
        //             type: 'POST',
        //             data: formData ,
        //             async: false,
        //             cache: false,
        //             contentType: false,
        //             processData: false,
        //             success: function (returndata) {
        //                 alert(returndata);
        //             },
        //             error: function () {
        //                 alert("error in ajax form submission");
        //             }
        //         });
        //
        //         return false;
        //     });

        // /***Ajax query****/
        // function getWorkout() {
        //     $.ajax({
        //         url: "http://localhost:8080/measurement-log/upload",
        //         dataType: "json", // Для использования JSON формата получаемых данных
        //         method: "POST", //
        //         success: function (data) {
        //             let result = ""
        //             let numberOfSets
        //             for (let i = 0; i < data.exercises.length; i++) {
        //                 numberOfSets = data.exercises[i].numberOfSets
        //                 if (numberOfSets > 0) {
        //                     result += '<p>' + data.exercises[i].name
        //                     for (let j = 0; j < data.exercises[i].set.length; j++) {
        //                         result += '<strong>' + data.exercises.exercises[i].set[j] + '</strong>'
        //                     }
        //                     result += '<input type="number" id="exercise" th:field="*{' + data.exercises[i].set[data.exercises[i].set.length] + '}"/>'
        //
        //                     result += '<button type="button" th:onclick="getNumberOfReps()">Enter</button></p>'
        //                 }
        //                 numberOfSets--
        //             }
        //
        //             document.getElementById("form").innerHTML = result
        //
        //         },
        //         error: function (jqXHR, textStatus, errorThrown) {
        //             console.log(errorThrown);
        //         }
        //     });
        // }

        <!--}-->

    </script>
</head>

<body>

<!-- Static navbar -->

<div th:insert="~{navbar::#navbar}"></div>

<!-- +++++ Contact Section +++++ -->

<div class="container pt">
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3 th:text="${measurement.weight==0.0}?'Add measurement':'Update measurement'"></h3>
            <hr>
        </div>
    </div>
    <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2">


            <form th:if="${measurement.weight==0.0}" th:action="@{/measurement-log/upload}" id="upload" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="photo">Photo: </label>
                    <input type="file" id="photo" name="photo">
                    <button id="button" type="submit">Upload</button>
                    <div id="result" class="form-group">
                    </div>

                </div>
            </form>

            <form class="contact-form php-mail-form" name="form" onsubmit="return validateForm() "
                  th:action="@{/measurement-log/create-update}" th:object="${measurement}"
                  method="post">

                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{userID}"/>

                <div id="linkOnPhoto"></div>

                <div class="form-group">
                    <label for="weight">Weight: </label>
                    <input type="number" min="35" max="120" step="1" id="weight" th:field="*{weight}">
                </div>

                <div class="form-group">
                    <label for="height">Height: <span>     </span> </label>
                    <input type="number" min="120" max="230" step="1" id="height" th:field="*{height}">
                </div>

                <div class="form-group">
                    <label for="neck">Neck</label>
                    <input type="number" min="20" max="50" step="1" id="neck" th:field="*{neck}">
                </div>

                <div class="form-group">
                    <label for="arms">Arms:</label>
                    <input type="number" min="25" max="60" step="1" id="arms" th:field="*{arms}">
                </div>
                <div class="form-group">
                    <label for="forearms">Forearms:</label>
                    <input type="number" min="15" max="50" step="1" id="forearms"
                           th:field="*{forearms}">
                </div>

                <div class="form-group">
                    <label for="chest">Chest:</label>
                    <input type="number" min="40" max="150" step="1" id="chest" th:field="*{chest}">
                </div>

                <div class="form-group">
                    <label for="waist">Waist:</label>
                    <input type="number" min="40" max="150" step="1" id="waist" th:field="*{waist}">
                </div>

                <div class="form-group">
                    <label for="buttocks">Buttocks:</label>
                    <input type="number" min="40" max="150" step="1" id="buttocks"
                           th:field="*{buttocks}">
                </div>

                <div class="form-group">
                    <label for="thighs">Thighs:</label>
                    <input type="number" min="35" max="100" step="1" id="thighs" th:field="*{thighs}">
                </div>

                <div class="form-group">
                    <label for="calves">Calves:</label>
                    <input type="number" min="15" max="40" step="1" id="calves" th:field="*{calves}">
                </div>

                <div class="form-send">
                    <button type="submit" class="btn btn-large"
                            th:text="${measurement.weight==0.0}?'Add measurement':'Update measurement'">
                        Add/Update
                    </button>
                </div>

                <p><a href="/measurement-log">Back</a></p>

            </form>

        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<!-- +++++ Footer Section +++++ -->

<div th:insert="~{footer::#footer}"></div>
<div th:insert="~{footer::#copyrights}"></div>

<!-- JavaScript Libraries -->

<!--<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{/lib/php-mail-form/validate.js}"></script>-->
<!--<script th:src="@{/lib/easing/easing.min.js}"></script>-->

<!--&lt;!&ndash; Template Main Javascript File &ndash;&gt;-->

<!--<script th:src="@{/js/main.js}"></script>-->

</body>
</html>
