
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exercise editor</title>
</head>
<body>
<h1>Exercise editor</h1>


<table th:if="${!exercises.isEmpty()}">
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Muscle group</th>
        <th>Type of exercise</th>
        <th>Necessary equipment</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="exercise, stat : ${exercises}">
        <td th:text="${stat.index+1}"></td>
        <td th:text="${exercise.name}"></td>
        <td th:text="${exercise.muscleGroup.displayValue}"></td>
        <td th:text="${exercise.exerciseType.displayValue}"></td>
        <td th:text="${exercise.necessaryEquipment.displayValue}"></td>
        <td th:text="${exercise.description}"></td>
        <td><a href="/main/"  th:href="@{/exercise-editor/update/{id}(id=${exercise.id})}">Update</a></td>
        <td><a href="/exercise-editor" th:href="@{/exercise-editor/delete/{id}(id=${exercise.id})}">Delete</a></td>
    </tr>
</table>

<p><a href="/exercise-editor/create">Create new</a></p>
<p><a href="/">Back</a></p>
</body>
</html>