<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Exercise</title>

    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
<!--    <script type="text/javascript">-->
<!--        $(document).ready(function() {-->
<!--            $("#locales").change(function () {-->
<!--                let selectedOption = $('#locales').val();-->
<!--                if (selectedOption != ''){-->
<!--                    window.location.replace('?lang=' + selectedOption);-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    </script>-->
</head>

<body>

<!-- Static navbar -->

<div th:insert="~{navbar::#navbar}"></div>

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">

                <table th:if="${!exercises.isEmpty()}">
                    <tr>
                        <th>No.</th>
                        <th th:text="#{exercise.name}">Name</th>
                        <th th:text="#{exercise.musclegroup}" >Muscle group</th>
                        <th th:text="#{exercise.typeofexercise}">Type of exercise</th>
                        <th th:text="#{exercise.necessaryequipment}" >Necessary equipment</th>
                        <th th:text="#{exercise.description}" >Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="exercise, stat : ${exercises}">
                        <td th:text="${stat.index+1}"></td>
                        <td th:text="${exercise.name}"></td>
                        <td th:text="${exercise.muscleGroup.displayValue}"></td>
                        <td th:text="${exercise.exerciseType.displayValue}"></td>
                        <td th:text="${exercise.necessaryEquipment.displayValue}"></td>
                        <td th:text="${exercise.description}"></td>
                        <td><a href="/main/"  th:href="@{/exercise-editor/update/{id}(id=${exercise.id})}" th:text="#{exercise.update}">Update</a></td>
                        <td><a href="/exercise-editor" th:href="@{/exercise-editor/delete/{id}(id=${exercise.id})}" th:text="#{exercise.delete}">Delete</a></td>
                    </tr>
                </table>

                <p><a href="/exercise-editor/create" th:text="#{exercise.createnew}" >Create new</a></p>
                <p><a href="/" th:text="#{exercise.back}" >Back</a></p>

            </div>
            <!-- /col-lg-8 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /ww -->


<!-- +++++ Footer Section +++++ -->

<div th:insert="~{footer::#footer}"></div>
<div th:insert="~{footer::#copyrights}"></div>


<!-- JavaScript Libraries -->

<!--<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{/lib/php-mail-form/validate.js}"></script>-->
<!--<script th:src="@{/lib/easing/easing.min.js}"></script>-->

<!--&lt;!&ndash; Template Main Javascript File &ndash;&gt;-->

<script th:src="@{/js/main.js}"></script>

</body>
</html>
