<!DOCTYPE html>
<html lang="en">
<body>

<!-- +++++ Footer Section +++++ -->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h4>My Links</h4>
                <p>

                    <a href="#">GitHub</a><br/>
                    <a href="#">LinkedIn</a><br/>
                    <a href="#">Instagram</a><br/>
                    <a href="#">Facebook</a><br/>
                    <a href="#"></a>
                </p>
            </div>
            <!-- /col-lg-6 -->

            <div class="col-lg-10">
                <h4>About WorkoutLog</h4>
                <p>This web application was developed as a final project in the Java course at TeachMeSkills.</p>
            </div>
            <!-- /col-lg-6 -->
        </div>
    </div>
</div>

<div id="copyrights">
    <div class="container">
        <p>
            &copy; Copyrights <strong>Zadziarnouski Taras</strong>. All Rights Reserved
        </p>
        <div class="credits">


        </div>
    </div>
</div>

</body>
</html>