<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<body>

<!-- +++++ Footer Section +++++ -->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h4 th:text="#{footer.mylinks}" >My Links</h4>
                <p>

                    <a href="https://github.com/zadziarnouksi-taras">GitHub</a><br/>
                    <a href="#">LinkedIn</a><br/>
                    <a href="https://www.instagram.com/zadziarnouskitaras">Instagram</a><br/>
                    <a href="https://web.facebook.com/taras.zadziarnouski">Facebook</a><br/>
                </p>
            </div>
            <!-- /col-lg-6 -->

            <div class="col-lg-10">
                <h4 th:text="#{footer.aboutworkoutlog}">About WorkoutLog</h4>
                <p th:text="#{footer.aboutwltext}" >This web application was developed as a final project of the Java course in TeachMeSkills.</p>
            </div>
            <!-- /col-lg-6 -->
        </div>
    </div>
</div>

<div id="copyrights">
    <div class="container">
        <p th:utext="#{footer.copyrights}" >
            &copy; Copyrights <strong>Zadziarnouski Taras</strong>. All Rights Reserved
        </p>
        <div class="credits">


        </div>
    </div>
</div>

</body>
</html>