<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Login</title>
    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>

</head>

<body>

<!-- Static navbar -->

<div th:insert="~{navbar::#navbar4}"></div>

<!-- +++++ Contact Section +++++ -->

<div id="ww">
    <div class="container pt">
        <div class="row mt">
            <div class="col-lg-8 col-lg-offset-2">

                <form name="form" class="contact-form php-mail-form" onsubmit="return validateFormOfProfile()"
                      th:action="@{/perform_login}" method="post">

                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>

                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>

                    <div th:if="${registerCompleted ne null}">
                        Registration successfully completed. You can now log into your account.
                    </div>


                    <div class="form-group">
                        <label for="username" th:text="#{login.username}">Username</label>
                        <input type="text" id="username" name="username"/>
                    </div>

                    <div class="form-group">
                        <label for="password" th:text="#{login.password}">Password</label>
                        <input type="password" id="password" name="password"/>
                    </div>

                    <div class="form-send">
                        <button class="btn btn-large" type="submit" th:text="#{login.login}">Log in</button>
                    </div>
                </form>
                <a href="/registration" class="btn btn-large" th:text="#{login.registartion}">Registration</a>

            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<!-- +++++ Footer Section +++++ -->

<div th:insert="~{footer::#footer}"></div>

<div th:insert="~{footer::#copyrights}"></div>

<!-- JavaScript Libraries -->


</body>
</html>
