<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Measurement log</title>
    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
</head>

<body>

<!-- Static navbar -->

<div th:insert="~{navbar::#navbar}"></div>

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">


                <table th:if="${!measurements.isEmpty()}">
                    <tr>
                        <th>No.</th>
                        <th>Fixation time</th>
                        <th>Weight</th>
                        <th>Height</th>
                        <th>Neck</th>
                        <th>Arms</th>
                        <th>Forearms</th>
                        <th>Chest</th>
                        <th>Waist</th>
                        <th>Buttocks</th>
                        <th>Thighs</th>
                        <th>Calves</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="measurement,stat : ${measurements}">
                        <td th:text="${stat.index+1}"></td>
                        <td th:text="${#temporals.format(measurement.getFixationTime(), 'HH:mm, dd-MM-yyyy')}"></td>
                        <td th:text="${measurement.weight}"></td>
                        <td th:text="${measurement.height}"></td>
                        <td th:text="${measurement.neck}"></td>
                        <td th:text="${measurement.arms}"></td>
                        <td th:text="${measurement.forearms}"></td>
                        <td th:text="${measurement.chest}"></td>
                        <td th:text="${measurement.waist}"></td>
                        <td th:text="${measurement.buttocks}"></td>
                        <td th:text="${measurement.thighs}"></td>
                        <td th:text="${measurement.calves}"></td>
                        <td><a href="/main/" th:href="@{/measurement-log/update/{id}(id=${measurement.id})}">Update</a></td>
                        <td><a href="/main/" th:href="@{/measurement-log/delete/{id}(id=${measurement.id})}">Delete</a></td>
                    </tr>
                </table>

                <p><a href="/measurement-log/create">Add new</a></p>
                <p><a href="/">Back</a></p>


            </div>
            <!-- /col-lg-8 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /ww -->


<!-- +++++ Footer Section +++++ -->

<div th:insert="~{footer::#footer}"></div>
<div th:insert="~{footer::#copyrights}"></div>

<!-- JavaScript Libraries -->

<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/php-mail-form/validate.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>

<!-- Template Main Javascript File -->

<script th:src="@{/js/main.js}"></script>
</body>
</html>
