<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Menu</title>
    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
</head>

<body>

<!-- Static navbar -->


<div th:insert="${user ne null} ? ~{navbar :: #navbar3} : ~{navbar :: #navbar2}"></div>

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <h3 th:text="#{menu.welcome} +' ' + ( ${user == null} ? #{menu.dearguest} : (${user.getLastName()} + ' ' + ${user.getFirstName()}))"></h3>
                <p th:if="${user eq null}" th:text="#{menu.pleaselogin}" >Please login and we will start composing the first workout.</p>
                <p th:if="${user eq null}"><a href="/login" th:text="#{menu.login}" >Login</a></p>
                <p th:if="${user ne null}"><a href="workout-constructor" th:text="#{menu.starttraining}" >Start training</a></p>
                <p th:if="${user ne null}"><a href="/perform_logout"  th:text="#{menu.logout}" >Logout</a></p>
            </div>
            <!-- /col-lg-8 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /ww -->


<!-- +++++ Footer Section +++++ -->

<div th:insert="~{footer::#footer}"></div>
<div th:insert="~{footer::#copyrights}"></div>

<!-- JavaScript Libraries -->

<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/php-mail-form/validate.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>

<!-- Template Main Javascript File -->

<script th:src="@{/js/main.js}"></script>

</body>
</html>
