<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>First page</title>
    <style>
        p, h1, nav {
            text-align: center;
        }
    </style>
</head>
<body>

<h1 th:text="'Hi, '+ ( ${myUser == null} ? 'guest' : (${myUser.getLastName()} + ' ' + ${myUser.getFirstName()}))"></h1>


<nav>
    <span th:if="${myUser} ne null">
        <a href="exercise-editor">Exercise editor |</a>
        <a href="workout-constructor">Workout constructor</a> |
        <a href="workout-log">Workout log</a> |
        <a href="measurement-log">Measurement log</a> |
         <a th:if="${myUser.getRole().toString().equals('ROLE_ADMIN')}" href="/user-log">User log </a> |
         <a href="/personal-profile">Personal profile</a>
    </span>
</nav>
<br>

<p><a href="/perform_logout">Logout</a></p>

</body>
</html>