<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Personal profile</title>
    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script>
        function validateForm() {
            let name = document.forms["form"]["name"].value;
            let muscleGroup = document.forms["form"]["muscleGroup"].value;
            let exerciseType = document.forms["form"]["exerciseType"].value;
            let necessaryEquipment = document.forms["form"]["necessaryEquipment"].value;
            if (name === "" || muscleGroup === "" || exerciseType === "" || necessaryEquipment === "") {
                alert("All fields must be filled out");
                return false;
            }
        }
    </script>
</head>

<body>

<!-- Static navbar -->

<div th:insert="~{navbar::#navbar}"></div>

<!-- +++++ Contact Section +++++ -->

<div class="container pt">
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3 th:text="#{personalprofile.personalprofile}">Personal profile</h3>
            <hr>
        </div>
    </div>
    <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2">

            <div th:object="${user}">
                <p><strong th:text="#{registration.username}">Username:</strong> <span th:text="*{username}"></span></p>
                <!--<p><strong>Password:</strong> <span th:text="*{password}"></span></p>-->
                <p><strong th:text="#{registration.firstname}">First name:</strong> <span th:text="*{firstName}"></span></p>
                <p><strong th:text="#{registration.lastname}">Last name:</strong> <span th:text="*{lastName}"></span></p>
                <p><strong th:text="#{registration.gender}">Gender:</strong> <span th:text="*{gender}"></span></p>
                <p><strong th:text="#{registration.birthday} + '(yyyy-MM-dd)'">Birthday(yyyy-MM-dd):</strong> <span th:text="*{birthday}"></span></p>
                <p><strong th:text="#{registration.height}">Height:</strong> <span th:text="*{height}"></span></p>
                <p><strong th:text="#{registration.weight}">Weight:</strong> <span th:text="*{weight}"></span></p>
            </div>
            <p><a href="/personal-profile/get-update-form" th:text="#{personalprofile.updateprofile}">Update profile</a>
            <p><a href="/" th:text="#{registration.back}">Back</a></p>

        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<!-- +++++ Footer Section +++++ -->

<div th:insert="~{footer::#footer}"></div>
<div th:insert="~{footer::#copyrights}"></div>

<!-- JavaScript Libraries -->

<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>


<!-- Template Main Javascript File -->

<!--<script th:src="@{/js/main.js}"></script>-->

</body>
</html>
