<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Personal profile</title>
</head>
<body>
<h2>Personal Profile</h2>
<div th:object="${user}">
<p><strong>Username:</strong> <span th:text="*{username}"></span></p>
<!--<p><strong>Password:</strong> <span th:text="*{password}"></span></p>-->
<p><strong>First name:</strong> <span th:text="*{firstName}"></span></p>
<p><strong>Last name:</strong> <span th:text="*{lastName}"></span></p>
<p><strong>Gender:</strong> <span th:text="*{gender}"></span></p>
<!--<p><strong>Birthday:</strong> <span th:text="${#temporals.format(user.birthday,'yyyy-MM-dd')}"></span></p>-->
<p><strong>Birthday:</strong> <span th:text="*{birthday}"></span></p>
<p><strong>Height:</strong> <span th:text="*{height}"></span></p>
<p><strong>Weight:</strong> <span th:text="*{weight}"></span></p>
</div>
<p><a href="/personal-profile/get-update-form">Update profile</a>
<p><a href="/">Back</a></p>

</body>
</html>