<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Personal profile</title>
</head>
<body>
<h1>Personal Profile</h1>

<form th:action="@{/personal-profile/update}" th:object="${user}"
      method="post">
    <p><input type="hidden" th:field="*{id}"></p>
    <p><label for="username">Username: </label>
        <input type="text" id="username" th:field="*{username}"></p>
    <p><label for="password">Password: </label>
        <input type="password" id="password" th:field="*{password}"></p>
    <p><input type="hidden" th:field="*{role}"></p>
    <p><label for="firstname">Firstname: </label>
        <input type="text" id="firstname" th:field="*{firstName}"></p>
    <p><label for="lastname">Lastname: </label>
        <input type="text" id="lastname" th:field="*{lastName}"></p>
    <p>
    <p><label>Gender: </label>
        <input type="radio" id="male" name="gender" th:field="*{gender}"
               th:value="${T(by.zadziarnouski.workoutlog.model.Gender).MALE}"><label for="male">Male</label>
        <input type="radio" id="female" name="gender" th:field="*{gender}"
               th:value="${T(by.zadziarnouski.workoutlog.model.Gender).FEMALE}"><label for="female">Female</label></p>
    <p><label for="birthday">Birthday:(yyyy-MM-dd)</label>
        <input type="text" th:value="*{birthday}" id="birthday"></p>
    <p><label for="height">Height:</label>
        <input type="number" th:field="*{height}" id="height"></p>
    <p><label for="weight">Weight:</label>
        <input type="number" th:field="*{weight}" id="weight"></p>
    <p>
        <button type="submit">Update profile</button>
    </p>
    <p><a href="/personal-profile">Back</a></p>
</form>

</body>
</html>