<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        p, h1, div, form {
            text-align: center;
        }
    </style>
    <script>
        function validateForm() {
            let title = document.forms["form"]["title"].value;
            let rating = document.forms["form"]["rating"].value;

            if (title === "" || rating === "" ) {
                alert("All fields must be filled out except for comments");
                return false;
            }
        }
    </script>
</head>
<body>
<h1>Saving a workout</h1>
<form name="form" onsubmit="return validateForm()" th:action="@{/workout-constructor/save-workout}" method="post" th:object="${workout}">


    <p><label for="title">Title: </label>
        <input type="text" pattern="[a-zA-z0-9-]+" id="title" th:field="*{title}"></p>

    <p><label>Rating:</label></p>
        <p><input type="radio" id="1" name="rating" th:field="*{rating}" th:value="'1'"><label for="1">1</label>
        <input type="radio" id="2" name="rating" th:field="*{rating}" th:value="'2'"><label for="2">2</label>
        <input type="radio" id="3" name="rating" th:field="*{rating}" th:value="'3'"><label for="3">3</label>
        <input type="radio" id="4" name="rating" th:field="*{rating}" th:value="'4'"><label for="4">4</label>
        <input type="radio" id="5" name="rating" th:field="*{rating}" th:value="'5'"><label for="5">5</label></p>


    <p><label for="comments">Comments: </label>
        <textarea id="comments" th:field="*{comments}" rows="3"></textarea></p>
    <p>



    <p>
        <button type="submit">Save workout</button>
    </p>
</form>
</body>
</html>