<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workout</title>
    <script th:inline="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script th:inline="javascript">


        function validateForm() {
            let resultOfSet = document.forms["form2"]["resultOfSet"].value;

            if (resultOfSet === "") {
                alert("Field Result of Set must be filled out");
                return false;
            }
        }

        // /***Event Listener on Button**/
        // $(document).ready(function () {
        //
        // })


        // let timeOfRest = [[${restTimeBetweenSets}]]

        function startTimerAfterSetResult() {
            // countdownTimer(timeOfRest)
            countdownTimer(1)
        }

        function countdownTimer(minutes) {

            // document.getElementById('form1').style.display = "none";
            // document.getElementById('form2').style.display = "none";

            function minTwoDigits(n) {
                return (n < 10 ? '0' : '') + n;
            }

            let interval = minutes * 60;  //5 minutes = 300 sec
            let counter = setInterval(function () {
                let hours = Math.floor((interval % (60 * 60 * 24)) / (60 * 60));
                let minutes = Math.floor((interval % (60 * 60)) / (60));
                let seconds = Math.floor(interval % 60);

                interval--;

                document.getElementById("timer").innerHTML = minTwoDigits(hours) + " : " + minTwoDigits(minutes) + " : " + minTwoDigits(seconds);

                if (interval === 0) {
                    clearInterval(counter);
                    $('#timer').hide()
                    document.getElementById('form1').submit();
                }
            }, 1000)
        }

        // /**Functions**/
        //
        //
        // /***Ajax query****/
        // function getWorkout() {
        //     $.ajax({
        //         url: "http://localhost:8080/workout-constructor/workout-start",
        //         dataType: "json", // Для использования JSON формата получаемых данных
        //         method: "GET", // Что бы воспользоваться POST методом, меняем данную строку на POST
        //         success: function (data) {
        //             let result = ""
        //             let numberOfSets
        //             for (let i = 0; i < data.exercises.length; i++) {
        //                 numberOfSets = data.exercises[i].numberOfSets
        //                 if (numberOfSets > 0) {
        //                     result += '<p>' + data.exercises[i].name
        //                     for (let j = 0; j < data.exercises[i].set.length; j++) {
        //                         result += '<strong>' + data.exercises.exercises[i].set[j] + '</strong>'
        //                     }
        //                     result += '<input type="number" id="exercise" th:field="*{' + data.exercises[i].set[data.exercises[i].set.length] + '}"/>'
        //
        //                     result += '<button type="button" th:onclick="getNumberOfReps()">Enter</button></p>'
        //                 }
        //                 numberOfSets--
        //             }
        //
        //             document.getElementById("form").innerHTML = result
        //
        //         },
        //         error: function (jqXHR, textStatus, errorThrown) {
        //             console.log(errorThrown);
        //         }
        //     });
        // }




    </script>
</head>
<body>

<div id="startBtn"></div>

<div th:object="${workout}">

    <table>

        <tr th:each="exercise : *{exercises}">
            <td th:text="${exercise.name}"></td>
            <td th:each=" set : ${exercise.set}" th:text="${set}"></td>
        </tr>
    </table>


    <p th:if="${finish ne null}">
        <a href="/workout-constructor/get-save-workout-form">Go to save workout</a>
    </p>
</div>

<form id="form2" onsubmit="validateForm()" th:action="@{/workout-constructor/save-result-of-set}" method="post">


    <p th:if="${finish eq null}"><label for="resultOfSet">Result:</label>
        <input type="number" id="resultOfSet" min="1" step="1" th:value="${resultOfSet}" name="set">
        <button onclick="startTimerAfterSetResult()">Save result of set</button>
    </p>
</form>

<div id="timer"></div>

</body>
</html>