<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Workout log</title>
    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
</head>

<body>

<!-- Static navbar -->

<div th:insert="~{navbar::#navbar}"></div>

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">

                <table th:if="${!workouts.isEmpty()}">
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Exercises</th>
                        <th>Duration</th>
                        <th>Rating</th>
                        <th>Comments</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="workout,stat : ${workouts}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${workout.title}"></td>
                        <td>
                            <table>
                                <tr th:each="exercise : ${workout.exercises}">
                                    <td th:text="${exercise.name}"></td>
                                    <td th:each=" set : ${exercise.set}" th:text="${set}"></td>
                                </tr>
                            </table>
                        </td>
                        <td th:text="${workout.duration.substring(0,8)}"></td>
                        <td th:text="${workout.rating}"></td>
                        <td th:text="${workout.comments}"></td>
                        <td><a th:href="@{/workout-log/update/{id}(id=${workout.id})}">Update</a></td>
                        <td><a th:href="@{/workout-log/delete/{id}(id=${workout.id})}">Delete</a></td>
                    </tr>
                </table>

                <p><a href="/">Back</a></p>

            </div>
            <!-- /col-lg-8 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /ww -->


<!-- +++++ Footer Section +++++ -->

<div th:insert="~{footer::#footer}"></div>
<div th:insert="~{footer::#copyrights}"></div>


<!-- JavaScript Libraries -->

<!--<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{/lib/php-mail-form/validate.js}"></script>-->
<!--<script th:src="@{/lib/easing/easing.min.js}"></script>-->

<!--&lt;!&ndash; Template Main Javascript File &ndash;&gt;-->

<!--<script th:src="@{/js/main.js}"></script>-->

</body>
</html>
