<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Workout</title>
    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script>


        function validateForm() {
            let resultOfSet = document.forms["form2"]["resultOfSet"].value;

            if (resultOfSet === "") {
                alert("Field Result of Set must be filled out");
                return false;
            }
        }

        /***Event Listener on Button**/
        $(document).ready(function () {
            let sound = document.getElementById("audio");
            sound.play();
        })

        function startTimerAfterSetResult() {
            countdownTimer(1)
        }

        function countdownTimer(minutes) {

            // document.getElementById('form1').style.display = "none";
            document.getElementById('form2').style.display = "none";

            function minTwoDigits(n) {
                return (n < 10 ? '0' : '') + n;
            }

            // let interval = minutes * 60;  //5 minutes = 300 sec
            let interval = 3;  //5 minutes = 300 sec
            let counter = setInterval(function () {
                let hours = Math.floor((interval % (60 * 60 * 24)) / (60 * 60));
                let minutes = Math.floor((interval % (60 * 60)) / (60));
                let seconds = Math.floor(interval % 60);

                interval--;

                document.getElementById("timer").innerHTML = minTwoDigits(hours) + " : " + minTwoDigits(minutes) + " : " + minTwoDigits(seconds);

                if (interval === 0) {
                    clearInterval(counter);
                    $('#timer').hide()
                    document.getElementById('form1').submit();
                }
            }, 1000)
        }

    </script>
</head>

<body>

<!-- Static navbar -->

<div th:insert="~{navbar::#navbar}"></div>

<!-- +++++ Contact Section +++++ -->

<div class="container pt">
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3>Workout</h3>
            <hr>
        </div>
    </div>
    <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2">

            <div th:object="${workout}">

                <table>
                    <tr>
                        <th>No</th>
                        <th>Exercises</th>
                        <th>Set</th>
                    </tr>
                    <tr th:each="exercise, stat : *{exercises}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${exercise.name}"></td>
                        <td th:each=" set : ${exercise.set}" th:text="${set}"></td>
                    </tr>
                </table>

            </div>
            <p th:if="${finish ne null}">
                <a href="/workout-constructor/get-save-workout-form">Go to save workout</a>
            </p>


            <form class="contact-form php-mail-form" id="form" onsubmit="validateForm()"
                  th:action="@{/workout-constructor/save-result-of-set}" method="post">

                <p th:if="${finish eq null}"><label for="resultOfSet">Result:</label>
                    <input type="number" id="resultOfSet" min="1" step="1" th:value="${resultOfSet}" name="set">
                    <button onclick="startTimerAfterSetResult()">Save result of set</button>
                </p>
            </form>

            <div id="timer"></div>

        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<!-- +++++ Footer Section +++++ -->

<div th:insert="~{footer::#footer}"></div>
<div th:insert="~{footer::#copyrights}"></div>

<audio hidden="hidden" id="audio" th:src="@{/audio/sound.mp3}"></audio>
f
<!-- JavaScript Libraries -->

<!--<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{/lib/php-mail-form/validate.js}"></script>-->
<!--<script th:src="@{/lib/easing/easing.min.js}"></script>-->

<!--&lt;!&ndash; Template Main Javascript File &ndash;&gt;-->

<!--<script th:src="@{/js/main.js}"></script>-->

</body>
</html>
