<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workout constructor</title>
</head>
<body>
<h1>Workout Constructor</h1>

<!--Добавить логику, а именно давать на выбор 3 последних тренировки для быстрого старта-->


<!--<form th:if="${!workouts.isEmpty()}" th:action="@{/workout-constructor/start-training}" th:object="${newWorkout}"-->
<!--      method="post">-->


<!--    <p><input name="workout" type="radio" th:each="workout : ${workouts}" th:field="*{id}" th:value="${workout.id}"-->
<!--              th:text="${workout.title}"></p>-->

<!--    <p><button type="submit">Start training</button></p>-->
<!--</form>-->
<p><a href="/workout-constructor/create-new-workout">Create new workout</a></p>
<p><a href="/">Back</a></p>
</body>
</html>